
<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/VM.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <input type="text" id="login" class="fadeIn second" placeholder="email" formControlName="email">
      <input type="password" id="password" class="fadeIn third" placeholder="password" formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Iniciar Sesion">
    </form>
    <p>No tienes cuenta? <a href="/register">Resgistrate</a></p>
  </div>
</div>